<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" style="text-decoration: underline;text-underline-position: under;" href="#">A propos de We Movis</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class=" navbar-nav ml-auto" action="#" method="post" name="searchForm" id="searchForm">
                <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>