<div class="d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item {% if page ==1 %}disabled{% endif %}">
            <a class="page-link" href="{{ path('app_movies_index' , {'page' : page - 1}) }}">&laquo;</a>
        </li>

        <li class="page-item active">
            <a class="page-link" href="{{ path('app_movies_index' , {'page' : page}) }}">{{ page }}</a>
        </li>
        <li class="page-item  {% if page == pages %}disabled{% endif %}">
            <a class="page-link" href="{{ path('app_movies_index' , {'page' : page + 1 }) }}">&raquo;</a>
        </li>
    </ul>
</div>