<fieldset>
    <legend>
    </legend>
    {% for category in categories %}
        <div class="films-catgeoris">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{ category.id }}" id="{{ category.id }}">
                <label class="form-check-label" for="{{ category.id }}">
                    {{ category.name}}
                </label>
            </div>
        </div>
    {% endfor %}
</fieldset>