<div class="popular-movies" style="margin: 30px 0;position: relative;">
    <iframe width="620" height="345" src="http://www.youtube.com/embed/{{ trailer.key}}?autoplay=1" frameborder="0" allowfullscreen></iframe>
    <span style="position: absolute;top: 0;left: 0;bottom: 0;right: 0;margin: auto;"> <img src="https://image.tmdb.org/t/p/w92/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg"></span>
</div>